#products {
  @extend .container;
  
  .list {
    @include make-row();

    .masonry-container {
      width: 100%;

      .item {
        @include make-col-ready();
        @include make-col(3);

        @extend .mb-4;

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
          }
        }

        .card {
          .card-title {
            margin-bottom: 0;
            @extend .h6;
          }
        }
      }
    }
  }
}

#product {
  @extend .container;

  .carousel {
    a {
      background: none;
      span {
        border-radius: 50%;
        background-color: $brand-secondary;
        background-size: 20px;
        height: 30px;
        width: 30px;
        padding: 5px;
      }
    }

    .carousel-item {
      img {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
  
      &.wider {
        img {
          height: 100% !important;
          width: auto !important;
          max-width: none !important;
        }
      }
  
      &.higher {
        img {
          width: 100% !important;
          height: auto !important;
          max-height: none !important;
        }
      }
    }
  }

  .share-icons {
    margin: 0 -5px;
    img {
      padding: 0 5px;
      
      width: 35px;
    }
  }
}