#products {
  @extend .container;
  
  .list {
    @include make-row();

    .masonry-container {
      width: 100%;

      .item {
        @include make-col-ready();
        @include make-col(3);

        @extend .mb-4;

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
          }
        }

        .card {
          .card-title {
            margin-bottom: 0;
            @extend .h6;
          }
        }
      }
    }
  }
}

#product {
  @extend .container;

  .carousel-item {
    img {
      width: 100%;
    }
  }

  .share-icons {
    margin: 0 -5px;
    img {
      padding: 0 5px;
      
      width: 35px;
    }
  }
}