#products {
  @extend .container-fluid;

  .layout {
    @include make-row();

    .filters {
      @include make-col-ready();
      @include make-col(3);

      @media (max-width: 768px) {
        display: none;
      }
    }

    .list {
      @include make-col-ready();
      @include make-col(9);

      @media (max-width: 768px) {
        @include make-col(12);
      }

      .masonry-container {
        width: 100%;
      }
    }
  }
}

#product {
  @extend .container;

  .carousel {
    a {
      background: none;
      span {
        border-radius: 50%;
        background-color: $brand-secondary;
        background-size: 20px;
        height: 30px;
        width: 30px;
        padding: 5px;
      }
    }

    .carousel-item {
      &.active {
        display: flex;
        align-content: center;
        justify-content: center;
      }

      &.wider {
        img {
          height: 100% !important;
          width: auto !important;
          max-width: none !important;
        }
      }
  
      &.higher {
        img {
          width: 100% !important;
          height: auto !important;
          max-height: none !important;
        }
      }
    }
  }

  .media {
    .pic-wrapper {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 1px dashed $brand-secondary;

      @extend .p-1;
      @extend .mr-3;

      .pic {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .share-icons {
    margin: 0 -5px;
    img {
      padding: 0 5px;
      
      width: 35px;
    }
  }

  .map {
    img {
      width: 100%;
      height: auto;
    }

    &:after {
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 32%;
      content: "";
      position: absolute;
      border-radius: 50%;
      padding-bottom: 32%;
      margin: -16% 0 0 -16%;
      pointer-events: none;
      background-color: black;
      opacity: 0.3;
    }
  }
}
